#header {
    background-color: #10284e;
    color: white;
    /* height: 50px; */

}

#branding h1 {
    color: white;
}

.module caption,
.inline-group h2 {
    background: #30caa0;
}

div.breadcrumbs {
    background: #30caa0;
    color: white;
}

div.breadcrumbs a {
    color: #10284e;
}

a:link,
a:visited {
    color: #10284e;
}

a.section:link,
a.section:visited {
    color: #10284e;
}

.button,
input[type=submit],
input[type=button],
.submit-row input,
a.button {
    background: #10284e;
}